body{display: flex;min-height: 100vh;flex-direction: column}
main{flex: 1 0 auto}

.question-section table{    
    width: auto;
    display: table;
    border: solid 1px;
}

.question-section table, 
.question-section th, 
.question-section td {
    border: solid 1px;
}
